mixin VideoPlayer(video = {})
    div.videoPlayer#jsVideoPlayer
        video(src=video.src)
        div.videoPlayer__controls
            div.videoPlayer__column
                span#jsVolumeButton
                    i.fas.fa-volume-up
                span
                    span#jsCurrentTime 00:00:00 
                    |/ 
                    span#jsTotalTime 00:00:00
            div.videoPlayer__column
                span#jsPlayButton
                    i.fas.fa-play
            div.videoPlayer__column
                span#jsFullScreen
                    i.fas.fa-expand