extends Layouts/Main
include Mixins/VideoBlock

block content
    div.videos
        each video in videosDB
            +VideoBlock({
                title: video.title,
                views: video.views,
                videoFile: video.videoFile
            })