extends Layouts/Main
include Mixins/VideoBlock

block content
    div.videos
        each video in videos
            +VideoBlock({
                id: video.id,
                title: video.title,
                views: video.views,
                fileUrl: video.fileUrl
            })