.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github 
            |&nbsp;Continue with Github
    button.social-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook 
            |&nbsp;Continue with Facebook
    button.social-login--line
        a(href=routes.line)
            span
                i.fab.fa-line 
            |&nbsp;Continue with Line
    button.social-login--kakao
        a(href=routes.kakao)
            span
                i.fab.fa-lemon
            |&nbsp;Continue with Kakao
