.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github 
            |&nbsp;Continue with Github
    button.social-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook 
            |&nbsp;Continue with Facebook
