.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    button {
      width: 100px;
      margin-bottom: 25px;
    }
    .video__author {
      a {
        color: #3498db;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 300;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 16px;
    }
  }
  .video__comments {
    margin-top: 25px;
    text-align: center;
    .video__comment-number {
      font-size: 18px;
    }
    .add__comment {
      margin-top: 25px;
      width: 100%;
      input {
        width: 100%;
      }
    }
    .video__comments-list {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      li {
        width: 500px;
        display: flex;
        justify-content: left;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        span {
          margin-right: 20px;
          .comment__avatar {
            background-color: peru;
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }
        .comment__text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: left;
          min-height: 40px;
          background-color: #3498db;
          color: white;
          padding-left: 15px;
          border-radius: 20px;
          border-bottom-left-radius: 0px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          word-break: break-all;
          height: 100%;
        }
        .comment__icon {
          cursor: pointer;
          position: relative;
          display: flex;
          float: left;
          height: 100%;
          align-items: center;
          justify-content: center;
          left: -20px;
          width: 60px;
          height: 40px;
          background-color: #3498db;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
    }
  }
}
