doctype html
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css", integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", crossorigin="anonymous")
        link(rel="stylesheet", href="/static/styles.css")
        title #{pageTitle} | #{siteName}
    body
        include ../Partials/Header
        main
            block content
        include ../Partials/Footer  
        script(src="/static/main.js")